body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
  }
  
  .container img {
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  .container input,
  .container button {
    display: block;
    width: 100%;
    padding: 10px 0px 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .container button {
    background-color: #964B00;
    color: #fff;
    cursor: pointer;
  }
  
  .container p {
    margin-bottom: 30px;
  }
  
  .container a {
    color: #964B00;
  }
  
  .logout-btn {
    background-color: #964B00;
    color: #fff;
    cursor: pointer;
  }
  
  .container input[type="password"] {
  width: calc(100% - -160px);
}

.container input[type="text"] {
    width: calc(100% - -160px);
  }

.password-wrapper {
  display: flex;
  align-items: center;
}

.password-wrapper input[type="password"] {
  border-radius: 5px 0 0 5px;
}

.password-wrapper button {
  border-radius: 0 5px 5px 0;
  padding: 10px;
  background-color: #964B00;
  color: #fff;
  border: none;
  cursor: pointer;
}